.footer{
  border-top: 1px solid #5c81a1;
}
.footer-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.footer-title{
  font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #081119;
}
.footer-navigation{
  display: flex;
  gap: 14px;
  font-size: 14px;
  color: #19334a;
  text-decoration: underline;
}
.footer-text{
  font-size: 14px;
  color: #19334a;
}
@media only screen and (min-width: 1439px) {
 .footer-container{
  flex-direction: row;
  gap: 0;
  align-items: end;
 }
 .footer-text{
  order: 1;
 }
 .footer-title{
  order: 2;
  margin-left: 206px;
 }
 .footer-navigation{
  order: 3;
  margin-left: auto;
  margin-right: 0;
 }
}