/* Home */
.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: bottom 130px center;
    background-size: 100% 353px;
    height: 812px;
}
.home-title{
    margin-top: 40px;
    font-family: "DM Serif Display", sans-serif;
        font-weight: 400;
        font-size: 44px;
        line-height: 1.5;
        color: #081119;
}
.home-text{
    margin-top: 40px;
    color: #081119;
}
.home-link{
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e5d86;
        border-radius: 8px;
        width: 280px;
        height: 48px;
        box-shadow: 1px 2px 2px 0 rgba(25, 51, 74, 0.5);
            background: #19334a;
            font-weight: 500;
            transition: all 0.3s ease;
}
.home-link:hover{
        background: #2e5d86;
        border: 1px solid #19334a;
}
@media only screen and (min-width: 1439px) {
  .home-section{
    background-image: url("/img/hero/desk.png");
    background-size: cover;
    background-position: top center;
    height: 773px;
  }
  .home-title{
    margin-top: 160px;
    font-size: 64px;
    text-align: left;
  }
  .home-text{
    margin-top: 48px;
    width: 519px;
    text-align: left;
  }
  .home-link{
    margin-top: 48px;
    margin-left: 0;
  }
}
/* What We Do */
.what-section{
    background: #5c81a1;
}
.what-subtitle{
    color: #f5fafb;
    text-align: left;
}
.what-text{
    margin-top: 40px;
    text-align: left;
}
@media only screen and (min-width: 1439px) {
  .what-subtitle{
    width: 411px;
  }
  .what-text{
    width: 845px;
    margin-right: 0;
    margin-left: auto;
    margin-top: -84px;
  }
}
/* Services */
.service-list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}
.service-item{
    border-radius: 0 8px 8px 0;
        padding: 24px;
        width: 162px;
        height: 220px;
        box-shadow: 1px 1px 2px 0 rgba(92, 129, 161, 0.59);
}
.service-item-title{
    color: #081119;
    font-weight: 400;
    text-align: left;
}
.servise-item-text{
    margin-top: 24px;
    color: #19334a;
    font-size: 12px;
    text-align: left;
    width: 112px;
}
@media only screen and (min-width: 1439px) {
  .service-list{
    margin-top: 48px;
    gap: 16px;
    flex-wrap: nowrap;
  }
  .service-item{
    width: 200px;
    height: 156px;
  }
  .service-item-one{
    order: 1;
  }
  .service-item-two{
    order: 3;
  }
  .service-item-three{
    order:2;
  }
  .service-item-four{
    order: 5;
  }
  .service-item-five{
    order: 6;
  }
  .service-item-six{
    order: 4;
  }
  .service-item-title{
    width: 150px;
  }
  .servise-item-text{
    width: 150px;
  }
}
/* Case Studies */
.case-subtitle{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.case-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.case-item{
    border: 1px solid rgba(92, 129, 161, 0.6);
        border-radius: 16px 0;
        padding: 24px;
        width: 340px;
        height: 432px;
        display: flex;
        flex-direction: column;
        gap: 16px;
}
.case-item-title{
    color: #081119;
    font-size: 20px;
    text-align: left;
}
.case-item-text{
    font-size: 14px;
    color: #19334a;
    text-align: left;
}
@media only screen and (min-width: 1439px) {
  .case-subtitle{
    width: 100%;
  }
  .case-list{
    margin-top: 48px;
    flex-direction: row;
    justify-content: center;
  }
}
/* Why Choose Us */
.why-section{
    background: #5c81a1;
}
.why-subtitle{
    color: #f5fafb;
    font-size: 31px;
    text-align: left;
    width: 302px;
    margin-left: auto;
    margin-right: auto;
}
.why-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.why-item{
    display: flex;
    gap: 12px;
    align-items: center;
    width: 343px;
}
.why-item-text{
    text-align: left;
    width: 264px;
}
@media only screen and (min-width: 1439px) {
 .why-subtitle{
    margin-top: 64px;
    font-size: 32px;
    margin-left: 0;
 }
 .why-list{
    margin-top: -150px;
    width: 954px;
        height: 160px;
        margin-right: 0;
        margin-left: auto;
        flex-direction: row;
        gap: 38px;
 }
 .why-item{
    width: 210px;
        height: 160px;
        flex-direction: column;
        gap: 24px;
 }
 .why-item-text{
    order: 2;
    width: 200px;
 }
 .why-item-img{
    order: 1;
    margin-right: 0;
    margin-left: auto;
 }
}
/* FAQ */
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 40px auto 0;
    padding: 0 24px;
}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;

}

.faq-acc-el-trigger {
padding: 8px 0px;
    width: 295px;
    height: auto;
    background: inherit;
    border: none;
border-bottom: 2px solid #5c81a1;
font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #081119;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    min-width: 48px;
    transition: transform 0.3s ease;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    padding: 8px 0 0;
width: 295px;
font-size: 12px;
color: #19334a;
text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease, opacity 0.5s ease, padding 0.5s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}
.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    background: inherit;
    width: 295px;
}
@media only screen and (min-width: 1439px) {
.faq-acc {
width: 1062px;
margin-top: 48px;
}
.faq-acc-el-trigger,
.faq-acc-el-descr-frame,
.faq-acc-el.open .faq-acc-el-descr-frame{
    width: 1014px;
}
}